 <div class="user-create">
  <div class="row valign-wrapper">
    <div class="col s2 show-image-user">
      <%= image_tag record.user.image_url, class: "circle responsive-img user-img"%>
    </div>
    <div class="col s10">
      <h5><%= record.user.full_name %></h5>
    </div>
  </div>
</div>