 <div class="user-create">
  <%= link_to record.user.profile, class: "show-image-user left" do %>
    <%= image_tag record.user.image_url, class: "circle user-img"%>
  <% end %>
  <div class="user-name left">
    <%= link_to record.user.full_name, record.user.profile %>
  </div>
</div>