<div class="center">
  <% if logged_in? %>
    <div class="fixed-action-btn">
      <%= link_to new_post_path, remote: true,
        class: "btn-floating btn-large blue pulse tooltipped", 
        data: {tooltip: "Create post", position: "left"} do %>
        <i class="material-icons">add</i>
      <% end %>
    </div>
  <% else %>
  <h2>Welcome</h2>
    <%= link_to "Log In", log_in_path, class: "btn" %>
    <%= link_to "Sign up", sign_up_path, class: "btn" %>
  <% end %>
</div>
<div id="list-article">
  <%= render @posts %>
</div>