<div class="center">
  <% if logged_in? %>
    <p class="red-text">This form post</p>
  <% else %>
  <h2>Welcome</h2>
    <%= link_to "Log In", log_in_path, class: "btn" %>
    <%= link_to "Sign up", sign_up_path, class: "btn" %>
  <% end %>
</div>
<div id="list-article">
  <%= render @posts %>
</div>