p.post-content{
  font-size: 20px;
}

.user-create{
  padding-top: 10px;
  margin-bottom: 15px;
  .show-image-user{
    margin-left: 5px;
    padding-right: 0px !important;
    img.user-img{
      cursor: pointer;
      height: 50px;
      width: 50px;
    }
  }
  .user-name{
    font-size: 15px;
    font-weight: bold;
    a{
      margin-left: 7px;
    }
  }
}
 .post{
  h5{
    margin-left: 2px;
  }
 }

 .images{
  padding: 10px 0 10px 0;
  .links{
    margin-top: 10px;
  }
 }
 a.back{
  margin-top: 10px;
 }